@{
ViewData["Title"] = "Home Page";
}

<!-- Використання Layout для загального вигляду сторінки -->

<div>
    <section id="hero">
        <img src="img/hero-img.png" alt="Background Image">

        <div class="hero-content">
            <h3>Khmelnytskyi Vibes</h3>
            <p>Experience the unique charm of Khmelnytskyi with our handcrafted Lightroom preset collections</p>
            <button class="button">Shop Now</button>
        </div>
    </section>
</div>